################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Test1/.vs
/Test1/bin/Debug/net6.0
/Test1/obj/Debug/net6.0
/Test2/.vs
/Test2/bin/Debug/net6.0
/Test2/obj
